$uu-yellow: #FFCD00;
$uu-red: #C00A35;
$uu-bordeaux: #AA1555;
$uu-orange: #F3965E;
$uu-green: #24A793;
$uu-green-dark: #13584e;
// hsl(171, 65%, 21%)
$uu-green-light: #ceeee9;
// hsl(171, 48%, 87%)
$uu-blue: #5287C6;
$uu-blue-dark: #2562ad;
// hsl(213, 65%, 41%);
$uu-blue-light: #cfddee;
// hsl(213, 48%, 87%)